PORT=3000
CORS_ORIGIN=http://localhost:5173
FE_CALLBACK_URL=http://localhost:5173/auth/callback

DATABASE_URL=enter-your-neon-database-url
DB_SSL=true
DB_HOST=enter-your-db-host
DB_PORT=5432
DB_USERNAME=enter-your-db-username
DB_PASSWORD=enter-your-db-password
DB_NAME=enter-your-db-name
DB_SYNCHRONIZE=enter-your-db-synchronize

REDIS_URL=enter-your-upstash-redis-url
REDIS_TLS=true
REDIS_HOST=enter-your-redis-host
REDIS_PORT=6379
REDIS_PASSWORD=enter-your-redis-password
REDIS_DB=enter-your-redis-db

NANO_BANANA_BASE_URL=https://generativelanguage.googleapis.com/v1beta
NANO_BANANA_MODEL=gemini-3.1-flash-image-preview
NANO_BANANA_POSE_MODEL=gemini-2.5-flash
NANO_BANANA_API_KEY=enter-your-nano-banana-api-key

GOOGLE_CLIENT_ID=enter-your-google-client-id
GOOGLE_CLIENT_SECRET=enter-your-google-client-secret
GOOGLE_CALLBACK_URL=http://localhost:3000/auth/google/callback

JWT_SECRET=enter-your-jwt-secret-key
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
